*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: grey;
    padding: 0px 50px;
    color: white;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.menu li, .menu_desktop li{
    list-style: none;
}
.menu a, .menu_desktop a{
    text-decoration: none;
    color: white;
}
.menu_icon{
    display: none;
}
.menu_desktop{
    display: none;
}
@media screen and (max-width:600px) {
    .menu_icon{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu_desktop{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 71px;
        right: 0px;
        background-color: grey;
        height: calc(100vh - 70px);
        gap: 50px;
        width: 150px;
        align-items: center;
        padding-top:50px ;

    }
}